node_modules
dist
.next
.next-build
.turbo
coverage
*.log
.env
.env.*
!.env.example
.DS_Store
infra/volumes
apps/api/storage
.logs
apps/web/tsconfig.tsbuildinfo
infra/backup/rclone.conf
apps/api/.scripts-build
